<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a routerLink="/"> <img src='../../assets/logo.png' class="logo" style=" height: 35px; width: 150px;" alt="..."></a>
 
  <div class="text-center ml-auto navbar-brand ">
    <!-- <h4 class=" mx-auto ah-font">
      <strong>Always Hungry</strong></h4> -->
  </div>

  <ul class="navbar-nav ml-auto">


      <li class="nav-item dropdown">
          <a class="btn  btn-outline-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="userId === 0" class="dropdown-item" routerLink="/login">Login</a>
            <a *ngIf="userId === 0" class="dropdown-item" routerLink="/register">Register</a>
            <a *ngIf="userId !== 0" class="dropdown-item" routerLink="/profile">My Profile</a>
            <div *ngIf="userId !== 0" class="dropdown-divider"></div>
            <button *ngIf="userId !== 0" class="dropdown-item" (click)="logout()">Logout</button>
          </div>
        </li>
  
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li> -->

  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<div class="container mt-4 ah-font-recipe" style="overflow-x: hidden">

  <div *ngIf="recipe" class="row">

    <div class="col-md-2">

      <div class="row">
        <button type="button" class="btn btn-warning">
          <span class="badge badge-light ah-icon-pl">{{saves.length}} </span> people saved this.
          <span class="sr-only">unread messages</span>
        </button>
      </div>
      <div class="row mt-5">
        Time: {{recipe.totalTime}}
      </div>
      <div class="row">
        Serves: {{recipe.numberOfServings}}
      </div>
    </div>
    <div class="col-md-8">
      <h1> {{recipe.name}}</h1>
      <hr>

      <div class="row ah-img-wrapper">
        <img [src]="recipe.images" alt="" class="ah-fit-img">
      </div>

      <section>
        <div class="mt-5">
          <h4>Ingredients</h4>
        </div>
        <hr>
        <div *ngIf="recipe" class=" ah-ingredients-div">
          <ul>
            <li *ngFor="let line of recipe.ingredientLines">{{line}}</li>
          </ul>
        </div>
      </section>

      <section>
        <div class="mt-5">
          <h4>Directions</h4>
        </div>
        <hr>
        <div class="ah-directions-div">
          Check out the directions for this recipe at <a [href]="recipe.sourceRecipeUrl">{{recipe.sourceDisplayName}}</a>
        </div>
      </section>

      <section>
        <div class="mt-5">
          <h4>Comments</h4>
        </div>
        <hr>
        <div class="ah-comments-div">

          <div *ngIf="userType==='ANON'"> Please login to view or post comments. </div>

          <textarea *ngIf="userType==='NORMAL'" class="form-control" id='comment' name="comment" [(ngModel)]="content"
            placeholder="Write a comment..." rows="3"></textarea>
          <br>
          <div class=" d-flex justify-content-end ">

            <button *ngIf="userType==='NORMAL'" type="button" class="btn btn-info" (click)='addComment()'>Post</button>

          </div>

          <ul class="list-unstyled">
            <li class="media" *ngFor="let comment of comments">

              <div class="mr-5">
                <div class="row"> <img src="{{comment.user.imgurl}}" style=" border-radius:50%" alt="" class="ah-fit-img-comment">
                </div>
                <div class="row d-flex align-items-end">
                  <a routerLink="/profile/{{comment.user.id}}" >
                    <strong class="text-success">@{{comment.user.username}}</strong></a></div>
              </div>
              <div *ngIf="edittingId == comment.id; else normalComment">
                <textarea class="form-control" id='commentEdit' name="commentEdit" [(ngModel)]="editContent"
                          placeholder="Editting" rows="3"></textarea>
                <button style="float:right" type="button" class="btn btn-danger"
                        (click)='cancelEdit(comment)'>Cancel</button>
                <button style="float:right" type="button" class="btn btn-primary"
                        (click)='saveEdit(comment)'>Save</button>
              </div>
              <ng-template #normalComment>
                <div class="media-body">
                <span class="text-muted d-flex justify-content-end">
                  <small class="text-muted">{{comment.dateCreated | date}}</small>
                </span>
                  {{comment.content}}
                  <div *ngIf="comment.user.id===userId">
                    <button style="float:right" type="button" class="btn btn-danger"
                            (click)='deleteComment(comment.id)'>Delete</button>
                    <button style="float:right" type="button" class="btn btn-primary"
                            (click)='editComment(comment)'>Edit</button>
                  </div>
                </div>
              </ng-template>
            </li>

          </ul>


        </div>
      </section>


    </div>
    <div class="col-md-2">

      <div *ngIf="userType==='NORMAL'" class="row d-flex d-flex justify-content-start mt-2">
        <div *ngIf="savesByCurrUser.length===0; else templateName">
          <button class="btn btn-primary" name="undoSave" id="undoSave" (click)="saveRecipe()"> <i
              class="fas fa-bookmark ah-icon-pr"></i>
            Save</button>
        </div>

        <ng-template #templateName>
          <button class="btn btn-info" name="save" id="save" (click)="undoSaveRecipe(saveId)"> <i
              class="fas fa-bookmark ah-icon-pr"></i>
            Undo Save</button>
        </ng-template>

      </div>

      <div *ngIf="userType==='MODERATOR'" class="row d-flex d-flex justify-content-start mt-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add To Collection
            <span class="caret"></span></button>
          <div class="dropdown-menu">

            <button *ngFor="let recipeList of recipeLists" class="dropdown-item"
              (click)="addToCollection(recipeList)">{{recipeList.name}}</button>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item " routerLink="/profile">Create New Collection</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<footer class="py-3 mt-5 bg-dark">
  <div class="container">
    <p class="m-0 text-white text-center ">Created by <i>Always Hungry Team 2019 </i></p>
  </div>
</footer>
