.ah-font-recipe{
    /* font-size: 28px; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    /* color: black */
 }

 .ah-font{
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: black
 }

 .ah-fit-img{
    max-width:100%;
   height: 500px;
 }

 .ah-img-wrapper{
    /* overflow:hidden; */
    justify-content: center;

 }

 .ah-icon-pr{
    padding-right: 5px;
}

.ah-icon-pl{
    padding-left: 5px;
}

.ah-fit-img-comment{
   width: 100px;
   max-width:100%;
   height: 100px;
 }

.media {
    /* border-bottom:1px dashed #efefef; */
    border-bottom: 2px solid #efefef;
    margin-top:25px;
}

.dropdown-menu .active { 
    background-color: rgba(161, 161, 161, 0.692); 
}

.dropdown-menu  { 
    background-color: rgba(241, 241, 241, 0.555); 
}
.dropdown-menu :hover  { 
    background-color: rgba(194, 194, 194, 0.555); 
}
