.ah-profile-container{
    background: #f8f9fa;
}

.ah-icon-pr{
    padding-right: 5px;
}
.ah-font-recipe{
  /* font-size: 28px; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* color: black */
}

.ah-font{
  font-size: 28px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black
}

.ah-fit-img{
  max-width:100%;
  height: 500px;
}

.ah-img-wrapper{
  /* overflow:hidden; */
  justify-content: center;

}
.hero {
  background-image: url('../../assets/login-bkg.jpg') ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-position: center center;*/
  min-height: 100%;
  /*width: 100%;*/
}
.ah-icon-pr{
  padding-right: 5px;
}

.ah-icon-pl{
  padding-left: 5px;
}

.ah-fit-img-comment{
  max-width:100%;
  height: 150px;
}

.media {
  /* border-bottom:1px dashed #efefef; */
  border-bottom: 2px solid #efefef;
  margin-top:25px;
}

div.polaroid {
  width: 80%;
  background-color: #fff3cd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 8px;
}

div.name {
  text-align: center;
  padding: 10px 20px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

