<nav class="navbar navbar-expand-md navbar-light bg-light">

  <div class="text-center navbar-brand ">
    <h4 class=" mx-auto ah-font">
      <strong>Hello {{firstName}}!</strong></h4>
  </div>

  <ul class="navbar-nav ml-auto">

    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>

  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<div class="container ah-profile-container">

  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img src="../../assets/home-img.jpg" alt="" style="width:200px;height:200px;" />
      </div>
    </div>

    <div class="col-md-6">
      <h4> {{firstName}} {{lastName}}</h4>

      <div *ngIf="role==='MODERATOR' && !enableEdit" >
        <div *ngIf="!isFollowing; else templateName" >
            <button  class="btn btn-primary" name="follow" id="follow" (click)='follow()'> <i class="fa fa-plus-square ah-icon-pr"></i>  Follow</button>
        </div>

        <ng-template #templateName>
          <button  class="btn btn-info" name="unfollow" id="unfollow" (click)='unfollow()'> <i class="fa fa-plus-square ah-icon-pr"></i>  Unfollow </button>
        </ng-template>
      </div>
                   
           <br/>
             
      
      <br />

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li *ngFor="let option of tabOptions" class="nav-item">
          <div *ngIf="!(!enableEdit && option ==='Personal')">
          <div *ngIf="(role==='MODERATOR' && (option!=='Following' && option !== 'Saved Recipes')
                                || (role==='NORMAL' && (option!=='Followers' && option !== 'Recipe lists')))">
          <a (click)="selectedTabOption = option" [class.active]="selectedTabOption === option" class="nav-link active"
            id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">{{option}}</a>
          </div>
        </div>
        </li>

      
      </ul>
      <div class="tab-content" id="myTabContent">
        <div *ngIf="enableEdit && selectedTabOption === tabOptions[0]" class="tab-pane active" id="home" role="tabpanel"
          aria-labelledby="home-tab">
          
          <br />
          <form>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"></label>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-6">
                        </div>
                      <div class="col-6" *ngIf="enableEdit">
                        <a routerLink="/" class="btn btn-block btn-dark">Edit</a>
                      </div>
                    </div>
    
    
                  </div>
                </div>

            <div class="form-group row">
              <label for="firstname" class="col-sm-4 col-form-label">
                First name </label>
              <div class="col-sm-8">
                <input class="form-control" id="firstname" [(ngModel)]="firstName" name="firstName" placeholder="Alice">
              </div>
            </div>
            <div class="form-group row">
              <label for="lastname" class="col-sm-4 col-form-label">
                Last name </label>
              <div class="col-sm-8">
                <input class="form-control" id="lastname" [(ngModel)]="lastName" name="lastName" placeholder="Wonderland">
              </div>
            </div>


            <div class="form-group row">
              <label for="username" class="col-sm-4 col-form-label">
                Username </label>
              <div class="col-sm-8">
                <input class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="alice">
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-sm-4 col-form-label">
                Password </label>
              <div class="col-sm-8">
                <input type="password" class="form-control wbdv-password-fld" [(ngModel)]="password" name="password" id="password"  placeholder="123qwe#$%">
              </div>
            </div>

            <div class="form-group row">
              <label for="password2" class="col-sm-4 col-form-label">
                Confirm Password </label>
              <div class="col-sm-8">
                <input type="password" class="form-control wbdv-password-fld" id="password2" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="123qwe#$%">
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-sm-4 col-form-label">
                Phone number </label>
              <div class="col-sm-8">
                <input class="form-control" id="phone" [(ngModel)]="phoneNum" name="phoneNum" placeholder="2222222222">
              </div>
            </div>


            <div class="form-group row">
              <label htmlFor="role" class="col-sm-4 col-form-label">
                Role </label>
              <div class="col-sm-8">
                <select id="role" [(ngModel)]="role" name="role" class="form-control wbdv-role-fld" required>
                  <option value="NORMAL">
                    Normal
                  </option>
                  <option value="EXPERT">
                    Expert
                  </option>

                </select>
              </div>
            </div>

            <br />

          
          </form>
        </div>
        <div *ngIf="selectedTabOption === tabOptions[1]" class="tab-pane active" id="profile" role="tabpanel"
          aria-labelledby="profile-tab">
          <div *ngFor="let recipe of recipes">
              <div>
                <div class="row">
                  <div class="card-header border-0 col-3">
                    <img class="img-fluid" src={{recipe.image_url}} alt="recipe image">                 
                  </div>
        
                  <div class="card-body col-9">
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <p class="card-text">{{recipe.description.substring(0,200)}}...</p>
                    <a routerLink="/" class="btn-block btn btn-primary">View</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="selectedTabOption === tabOptions[2]" class="tab-pane active" id="recipelist" role="tabpanel"
             aria-labelledby="profile-tab">
          <div *ngFor="let recipe of recipes">
            <div>
              <div class="row">
                <div class="card-header border-0 col-3">
                  <img class="img-fluid" src={{recipe.image_url}} alt="recipe image">
                </div>

                <div class="card-body col-9">
                  <h5 class="card-title">{{recipe.title}}</h5>
                  <p class="card-text">{{recipe.description.substring(0,200)}}...</p>
                  <a routerLink="/" class="btn-block btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedTabOption === tabOptions[3]" class="tab-pane active" id="follwoing" role="tabpanel"
          aria-labelledby="contact-tab">
          <ul class="list-unstyled">
            <li class="media" *ngFor="let user of following">

              <div class="mr-5">
                <div class="row d-flex align-items-end"> <strong class="text-success">@{{user.username}}</strong></div>
              </div>

            </li>

          </ul>

        </div>
        <div *ngIf="selectedTabOption === tabOptions[4]" class="tab-pane active" id="followers" role="tabpanel"
             aria-labelledby="contact-tab">
        <ul class="list-unstyled">
          <li class="media" *ngFor="let user of followers">

            <div class="mr-5">

              <div class="row d-flex align-items-end"> <strong class="text-success">@{{user.username}}</strong></div>
            </div>

          </li>

        </ul>
      </div>
      </div>

    </div>

  </div>

</div>
