<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a routerLink="/"> <img src='../../assets/logo.png' class="logo" style=" height: 35px; width: 150px;" alt="..."></a>
  
    <div class="ml-auto navbar-brand ">
      <!--<h4 class=" mx-auto ah-font">-->
      <!--<strong>Always Hungry</strong></h4>-->
     
    </div>

    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
            <a class="btn  btn-outline-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a *ngIf="loggedInUserId == null" class="dropdown-item" routerLink="/login">Login</a>
              <a *ngIf="loggedInUserId == null" class="dropdown-item" routerLink="/register">Register</a>            
            
              <button *ngIf="loggedInUserId != null" class="dropdown-item" (click)="logout()">Logout</button>
            </div>
          </li>

      <!-- <li class="nav-item">
        <strong class="ah-font"><a class="nav-link" routerLink="/">Home</a></strong>
      </li>
      <li class="nav-item">
        <strong class="ah-font"><a class="nav-link" routerLink="/profile">Profile</a></strong>
      </li> -->


    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
</header>

<div class="ah-profile-container hero pt-4">

  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-3">
      <div class="polaroid">
        <img src="{{image}}" alt="Not Found" onerror="this.src='../../assets/camera-icon.png'"
             style="width:100%; max-height: 200px"/>
        <div class="name">
          <h4 class="ah-font"> <strong><i>@{{username}}</i></strong></h4>
        </div>
      </div>
    </div>

    <div class="col-md-6">

      <h4 class="ah-font">{{firstName}} {{lastName}}</h4>


      <div *ngIf="role==='MODERATOR' && !enableEdit && !disableFollow">
        <div *ngIf="!isFollowing; else templateName">
          <button class="btn btn-primary" name="follow" id="follow" (click)='follow()'><i
            class="fa fa-plus-square ah-icon-pr"></i> Follow
          </button>
        </div>

        <ng-template #templateName>
          <button class="btn btn-info" name="unfollow" id="unfollow" (click)='unfollow()'><i
            class="fa fa-plus-square ah-icon-pr"></i> Unfollow
          </button>
        </ng-template>
      </div>

      <br/>


      <br/>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li *ngFor="let option of tabOptions" class="nav-item">
          <div *ngIf="!(!enableEdit && option ==='Personal')">
            <div *ngIf="(role==='MODERATOR' && (option!=='Following' && option !== 'Saved Recipes')
                                || (role==='NORMAL' && (option!=='Followers' && option !== 'Recipe lists')))">
              <a (click)="selectedTabOption = option" [class.active]="selectedTabOption === option"
                 class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home"
                 aria-selected="true">{{option}}</a>
            </div>
          </div>
        </li>


      </ul>
      <div class="tab-content" id="myTabContent">
        <div *ngIf="enableEdit && selectedTabOption === tabOptions[0]" class="tab-pane active" id="home" role="tabpanel"
             aria-labelledby="home-tab">

          <br/>
          <form>



            <div class="form-group row">
              <label for="firstname" class="col-sm-4 col-form-label">
                First name </label>
              <div class="col-sm-8">
                <input class="form-control" id="firstname" [(ngModel)]="firstName" name="firstName" placeholder="Alice">
              </div>
            </div>
            <div class="form-group row">
              <label for="lastname" class="col-sm-4 col-form-label">
                Last name </label>
              <div class="col-sm-8">
                <input class="form-control" id="lastname" [(ngModel)]="lastName" name="lastName"
                       placeholder="Wonderland">
              </div>
            </div>


            <div class="form-group row">
              <label for="username" class="col-sm-4 col-form-label">
                Username </label>
              <div class="col-sm-8">
                <input class="form-control" disabled id="username" [(ngModel)]="username" name="username"
                       placeholder="alice">
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-sm-4 col-form-label">
                Password </label>
              <div class="col-sm-8">
                <input type="password" class="form-control wbdv-password-fld" [(ngModel)]="password" name="password"
                       id="password" placeholder="123qwe#$%">
              </div>
            </div>

            <div class="form-group row">
              <label for="password2" class="col-sm-4 col-form-label">
                Confirm Password </label>
              <div class="col-sm-8">
                <input type="password" class="form-control wbdv-password-fld" id="password2" name="confirmPassword"
                       [(ngModel)]="confirmPassword" placeholder="123qwe#$%">
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-sm-4 col-form-label">
                Phone number </label>
              <div class="col-sm-8">
                <input class="form-control" id="phone" [(ngModel)]="phoneNum" name="phoneNum" placeholder="2222222222">
              </div>
            </div>

            <div class="form-group row">
              <label for="image" class="col-sm-4 col-form-label">
                Profile image url </label>
              <div class="col-sm-8">
                <input class="form-control" id="image" [(ngModel)]="image" name="image"
                       placeholder="https://images.unsplash.com/photo-1488406016221-ec4788beab3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
              </div>
            </div>

            <div class="form-group row">
              <label htmlFor="role" class="col-sm-4 col-form-label">
                Role </label>
              <div class="col-sm-8">
                <select id="role" [(ngModel)]="role" name="role" disabled class="form-control wbdv-role-fld" required>
                  <option value="NORMAL" [selected] ="role===NORMAL">
                    Standard
                  </option>
                  <option value="MODERATOR" [selected] ="role===MODERATOR">
                    Expert
                  </option>

                </select>
               

              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"></label>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-6">
                  </div>
                  <div class="col-6" *ngIf="enableEdit">
                    <button (click)="updateProfile()" class="btn btn-dark btn-dark">Update profile</button>
                  </div>
                </div>


              </div>
            </div>

            <br/>


          </form>
        </div>
        <div *ngIf="selectedTabOption === tabOptions[1]" class="tab-pane active" id="profile" role="tabpanel"
             aria-labelledby="profile-tab">
          <div *ngFor="let recipe of savedRecipes">
            <div>
              <div class="row mt-3">
                <div class="card-header border-0 col-3">
                  <img class="img-fluid" src={{recipe.images}} alt="recipe image">
                </div>

                <div class="card-body col-9">
                  <h4 class="card-title ah-font">{{recipe.name}}</h4>
                  <a routerLink="/recipe/{{recipe.id}}" class="btn btn-dark btn-block">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedTabOption === tabOptions[2]" class="tab-pane active" id="recipelist" role="tabpanel"
             aria-labelledby="profile-tab">
          <br/>
          <div *ngFor="let col of recipeCollections">
            <div >
              <div class="row mt-3">
                <div class="card-header border-0 col-3">
                  <img class="collection-img" src={{col.imageURL}} alt="recipe image">
                </div>

                <div class="card-body col-9">
                  <h4 class="card-title ah-font">{{col.name}}</h4>

                  <a routerLink="/collection/{{col.id}}" class="btn btn-primary">View</a>

                  <div *ngIf="enableEdit">
                  <span class="btn-group float-right">
                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                            class="btn btn-secondary" (click)="populate(col.id)">Edit</button>
                    <button type="button" (click)="confirmDeleteCollection(col.id)"
                            class="btn btn-danger">Delete </button>
                  </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <br/>

          <div *ngIf="enableEdit">
            <!-- Button trigger modal -->
            <button type="button" class="btn-block btn btn-success" data-toggle="modal"
                    data-target="#exampleModalCenter">
              Create New Collection
            </button>
            <br/>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"> Create New Collection</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body row ah-img-wrapper">
                  <div *ngIf="1===1" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Title and Display Picture URL are mandatory.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form #postEventForm="ngForm">
                    <div class="form-group">
                      <label for="collection-title" class="col-form-label">Title:</label>
                      <input type="text" [(ngModel)]="newCollection.name" class="form-control" id="collection-title"
                             name="collection-title"
                             placeholder="Best Thanksgiving Brunch Recipes" required>
                    </div>
                    <div class="form-group ">
                      <label for="collection-img" class="col-form-label">Display Picture URL:</label>
                      <input type="text" [(ngModel)]="newCollection.imageURL" placeholder="Image URL"
                             class="form-control"
                             id="collection-img" name="collection-img">
                      <div class="mt-2">
                        <img src="{{newCollection.imageURL}}" alt="image preview" width="300px"
                             style=" border-radius:5%"/>

                      </div>

                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" (click)="createCollection(newCollection.id)" class="btn btn-primary"
                          data-dismiss="modal">Save
                  </button>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div *ngIf="selectedTabOption === tabOptions[3]" class="tab-pane active" id="follwoing" role="tabpanel"
             aria-labelledby="contact-tab">
          <br/>
          <section>
            <div *ngFor="let user of following">
              <div>
                <div class="row mt-3">
                  <div class="card-header border-0 col-3">
                    <img src="{{user.imgurl}}}" alt="Not Found" onerror="this.src='../../assets/camera-icon.png'"
                         class="ah-fit-img-comment "/>
                  </div>

                  <div class="card-body col-9">
                    <h5 class="card-title">
                      <a routerLink="/profile/{{user.id}}">
                        <strong class="text-success ah-font">@{{user.username}}</strong>
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
        <div *ngIf="selectedTabOption === tabOptions[4]" class="tab-pane active" id="followers" role="tabpanel"
             aria-labelledby="contact-tab">
          <br/>
          <section>
            <div *ngFor="let user of followers">
              <div>
                <div class="row mt-3">
                  <div class="card-header border-0 col-3">
                    <img src="{{user.imgurl}}}" alt="Not Found" onerror="this.src='../../assets/camera-icon.png'"
                         class="ah-fit-img-comment "/>
                  </div>

                  <div class="card-body col-9">
                    <h5 class="card-title">
                      <a routerLink="/profile/{{user.id}}">
                        <strong class="text-success ah-font">@{{user.username}}</strong>
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

    </div>

  </div>

</div>
<footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-white text-center ">Created by <i>Always Hungry Team 2019 </i></p>
    </div>
  </footer>
