.hero {
    background-image: url('../../assets/home-img.jpg') !important;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;   
    text-align:center; 
  }

.hw-100{
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

}

.search-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;   
    transform: translate(-50%, -50%);

}

.wrapper{
    height: 200px;
}
.card-img-top{
    width: 100%!important;
    height: 200px!important;
    object-fit: cover;
 }

 .ah-font-h{
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: black
 }
 .ah-font-nav{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
 }

 .ah-font{ 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  color: black
}

 

.header-bg {
  background-color: white;
}
