<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">

  <a class="navbar-brand">
    <h4 class=" mx-auto ah-font ah-font-28">
      <strong>Always Hungry</strong></h4>
  </a>

 

  <ul class="navbar-nav ml-auto">

    <li class="nav-item">
      <a class="nav-link" routerLink="/register">Login/Register</a>
    </li>

  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<div class="container ah-mt-10 ah-font">

  <div class="row">

    <div class="col-md-2">
        <div class="profile-img">
            <img src={{mod.imgurl}} alt="" style="width:100px;height:100px;" />
          </div>
      <h5>Compiled By <a routerLink="/profile/{{mod.id}}">@{{mod.username}}</a></h5>

    </div>
    <div class="col-md-8">

      <h3>{{collection.name}}</h3>
     

      <div *ngFor="let recipe of recipes">
        <div>
          <div class="row">
            <div class="card-header border-0 col-3">
              <img class="img-fluid" src={{recipe.images}} alt="recipe image">
            </div>

            <div class="card-body col-9">
              <h5 class="card-title">{{recipe.name}}</h5>
              <span class="btn-group ">
                  <a routerLink="/recipe/{{recipe.id}}" class="btn btn-primary">View</a>
                  <button type="button" (click)="confirmDeleteRecipe(collectionId, recipe.id)" class="btn btn-danger">Remove </button>
                  
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="recipes.length===0" class="row  ah-bg-gray mt-3">
       

        <div class="card-body col-9">
          <h5 class="card-title">No Recipes in this collection!</h5>
                
        </div>
      </div>

    
     

    </div>

  </div>

</div>
