<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light ">
      <a routerLink="/"> <img src='../../assets/logo.png' class="logo" style=" height: 35px; width: 150px;" alt="..."></a>
  
    <div class="ml-auto navbar-brand text-center">
      <!--<h4 class=" mx-auto ah-font">-->
      <!--<strong>Always Hungry</strong></h4>-->
     
    </div>

    <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <h5><strong class="ah-font-nav"><a class="nav-link" routerLink="/login">Login</a></strong></h5>
          </li>

    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
</header>

<div class="hero">
  <div class="container ah-font-sm text-center" >


    <form>
      <br />
      <br />
      <div class="ml-auto navbar-brand ">
        <h4 class=" mx-auto ah-font">
          <strong>Register</strong></h4>
      </div>
      <br />
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label">
              <small>* indicates mandatory field!</small>
            </label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                      <a routerLink="/login" class="float-right">Already a member? Login.</a>
                    </div>
                  </div>
            </div>
          </div>

      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">
          First name* </label>
        <div class="col-sm-8">
          <input [(ngModel)]="firstName" class="form-control" id="firstname" name="firstName" placeholder="Alice">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastname" class="col-sm-4 col-form-label">
          Last name </label>
        <div class="col-sm-8">
          <input [(ngModel)]="lastName" class="form-control" id="lastname" name="lastName" placeholder="Wonderland">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">
          Email* </label>
        <div class="col-sm-8">
          <input class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="alice@example.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label">
          Username* </label>
        <div class="col-sm-8">
          <input class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="alice">
        </div>
      </div>
      <div class="form-group row">
        <label for="password"  class="col-sm-4 col-form-label">
          Password* </label>
        <div class="col-sm-8">
          <input type="password" [(ngModel)]="password" name="password" class="form-control wbdv-password-fld" id="password" placeholder="123qwe#$%">
        </div>
      </div>

      <div class="form-group row">
        <label for="password2" class="col-sm-4 col-form-label">
          Confirm Password* </label>
        <div class="col-sm-8">
          <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control wbdv-password-fld" id="password2" placeholder="123qwe#$%">
        </div>
      </div>
      <div class="form-group row">
        <label for="phone" class="col-sm-4 col-form-label">
          Phone number </label>
        <div class="col-sm-8">
          <input class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber" id="phone" placeholder="2222222222">
        </div>
      </div>
      <div class="form-group row">
        <label for="image" class="col-sm-4 col-form-label">
          Profile image url </label>
        <div class="col-sm-8">
          <input class="form-control" [(ngModel)]="image" name="image" id="image" placeholder="https://images.unsplash.com/photo-1488406016221-ec4788beab3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
        </div>
      </div>


      <div class="form-group row">
        <label htmlFor="role" class="col-sm-4 col-form-label">
          Role* </label>
        <div class="col-sm-8">
          <select id="role" [(ngModel)]="role" name="role" class="form-control wbdv-role-fld" required>
            <option value="NORMAL">
              Standard
            </option>
            <option value="MODERATOR">
              Expert (may require additional background check)
            </option>

          </select>
        </div>
      </div>

      <br />

      <div class="form-group row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-6">
              <button (click)="register()" class="btn btn-dark btn-block">Register</button>
            </div>
            <div class="col-6">
              <a routerLink="/" class="btn btn-block btn-dark">Cancel</a>
            </div>
          </div>

         
        </div>
      </div>
    </form>
  </div>
</div>



